* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: #f5f6f8;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.sidebar-header {
    padding: 20px;
}

.sidebar-header h1 {
    color: white;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.sidebar-nav a {
    color: #d1d5db;
    display: block;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 6px;
}

.sidebar-nav a:hover {
    background-color: #374151;
    color: white;
    opacity: 0.8;
}

.sidebar-nav a.activate {
    background-color: #374151;
    color: white;
}

.sidebar-footer {
    margin-top: auto;
    padding: 10px;
}

.sidebar-footer a {
    display: block;
    color: #d1d5db;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 6px;
}

.sidebar-footer a:hover {
    opacity: 0.8;
    color: white;
    background-color: #374151;
}

.main {
    width: 1;
    min-height: 100vh;
}

.main-header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.page-title {
    display: flex;
    align-items: center;
}

.user-area {
    display: flex;
    align-items: center;
}

.content {
    padding: 25px;
}

.main-footer {
    padding: 20px 25px;
}